:root {
  --contents-background: #1e1e1e;
  --secondary-background: #2d2d2d;
  --secondary-hover: #3b3b3b;
  --main-accent: #5ccc37;
  --secondary-accent: #4caa2d;
  --font-color: white;
  --font-secondary-color: #cacaca;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: var(--contents-background);
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  min-height: 100vh;
  display: flex;
}

input {
  color-scheme: dark;
  border-width: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button,
a {
  color: var(--font-color);
}

.dropdown button,
li {
  cursor: pointer;
}

.dropdown button {
  padding: 15px;
  border: none;
  font-size: 1.6rem;
  font-family: "Inter";
  background-color: var(--main-accent);
}

.dropdown button:hover,
.dropdown button:focus {
  background-color: var(--secondary-accent);
}

.dropdown-content {
  display: none; /* hides dropdown content */
  min-width: 160px;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--contents-background);
  padding: 15px;
}

.dropdown-content li {
  background-color: var(--font-color);
  padding: 0;
}

.dropdown-content li a {
  padding: 15px;
  display: block;
}

.dropdown-content li a:hover {
  background-color: var(--font-secondary-color);
}

.show {
  display: block;
}
